//Custom variables

$color-beige: #fbf8ee;
$color-green: #00573e;

//Bootstrap variables

$theme-colors: (
  "primary": $color-green,
  "info": #6eadf4,
  "danger": red,
  "light": $color-beige,
);

$navbar-light-color: $color-green;
$navbar-light-active-color: $color-green;
$navbar-light-brand-color: $color-green;
$font-family-base: "Inter", sans-serif;
$card-height: 100%;
$card-border-width: 2px;
$card-bg: $color-beige;
$card-border-color: $color-green;
$body-bg: $color-beige;
$body-color: $color-green;

@import "~bootstrap/scss/bootstrap";

//Partials

@import "./partials/general";
@import "./partials/cards";
