* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: calc(13px + 0.2vw);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

.content-width {
  max-width: 60%;
  @media (max-width: 1000px) {
    max-width: 100%;
  }
}

footer {
  flex-shrink: 0;
  display: flex;
  padding: 0px 2rem;
}

//Navbar

.nav-link {
  font-weight: 600;
}

.nav-link.active {
  text-decoration: underline;
}

.navbar-brand {
  margin-right: 2rem;
}

//Back buttons

.btn-link {
  text-decoration: none;
}
